*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto';
}

.header
{
    background-color: #1f2937;
}

.header h1
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.header h2
{
    font-size: 24px;
    color: #f9faf8;
}
.nav
{
    height: 80px;
}
.navbar
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: auto;
}

.navbar ul
{
    display: flex;
    gap: 20px;
}

.nav .navbar
{
    justify-content: center;
    gap: 500px;
}

.navbar ul li 
{
    list-style-type: none;
}

.navbar ul li a
{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero .left-hero p
{
    font-size: 18px;
    color: #e5e7eb;
}
.containerhero
{
    height: 500px;
}
.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 80%;
    width: 70%;
    margin: auto;
}

.left-hero
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 500px;
    height: 200px;
}

.left-hero button
{
    width: 120px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #3882f6;
    font-size: 18px;
}
.right-hero
{
    width: 500px;
    height: 200px;
}

.first-part
{
    height: 400px;
}
.first-part-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.first-part-info h1
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    align-self: center;
}

.illustrations img
{
    width: 200px;
    height: 200px;
}

.illustrations
{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
}

.card img
{
    border: 4px solid #3882f6;
    border-radius: 15%;
}

.card
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub
{
    font-size: 16px;
    text-align: center;
    color: #676767;
    width: 200px;
}

.second-part
{
    height: 400px;
    background-color: #e5e7eb;
}

.quotetext
{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quote
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quotesaidby
{
    font-size: 20px;
    color: #1f2937;
    font-weight: bold;
}
